@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #0c1022;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    font-size: 1em;
    width: 600px;
    height: 680px;
    background: rgba(0,0,0,022);
    border: 1px solid rgba(26, 0, 31, 0.8);
    box-shadow: 2px 2px 2px rgba(41, 0, 49, 0.84);
    border-radius: 10px;
    transition: top ease;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}
.box:hover
{
    transform: translateY(-2%);
}
.box::after
{
    content: '';
    position: absolute;
    height: 950px;
    width: 950px;
    background-image: conic-gradient(transparent,transparent,transparent, red);
    animation: animate linear 4s infinite;
    animation-delay: -2s;
}
.box::before
{
    content: '';
    position: absolute;
    height: 950px;
    width: 950px;
    background-image: conic-gradient(transparent,transparent,transparent, #43f3ff);
    animation: animate linear 4s infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box span
{
    position: absolute;
    inset: 5px;
    background: #0c1022;
    z-index: 1;
    border-radius: 10px;
}
.box p
{
    position: relative;
    inset: 5px;
    background: #0c1022;
    z-index: 1;
    border-radius: 10px;
    color: rgba(198, 198, 198, 0.916);
    text-align: center;
    transform: translate(-25%, -25%);
}
.box h2
{
    color: rgba(201, 208, 209, 0.958);
    position: relative;
    z-index: 2;
    transform: translate(100%, -550%);
    letter-spacing: 0.4em;
}
h2:hover
{
    color: rgba(254, 0, 0, 0.967);
}
a
{
    position: relative;
    z-index: 3;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(202, 209, 210, 0.958);
    transform: translate(-390%, 880%);
    background: #31003ad7;
}